img {
display: block;
max-width: 100%;

width: 270px
border:aut}

list {
    padding: 20px;
    margin: 0;
    list-style: none;
}


ul {
display: flex;
}

li{
align-self: center;
margin-left: 30px;
list-style: none;
align-items: center;
}
